modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
publicDir = "dist/public"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[[ports]]
localPort = 23637
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_object_storage:1.0.0", "stripe:2.0.0", "javascript_stripe:1.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BOxzPJDRJm_4Xy_lg-iayMLF7FCwLWuUs3Bj2PiRcolN1UoIqj_t8Yi2TjfdQYoGw5z2I1C3BaAdgK1W192zczs"
VITE_VAPID_PUBLIC_KEY = "BOxzPJDRJm_4Xy_lg-iayMLF7FCwLWuUs3Bj2PiRcolN1UoIqj_t8Yi2TjfdQYoGw5z2I1C3BaAdgK1W192zczs"
VITE_GOOGLE_CLIENT_ID = "406893244680-ve36p25kiv7hr2g422s3e3qpsb8sgdei.apps.googleusercontent.com"
VITE_FACEBOOK_APP_ID = "1461490808741960"
VITE_MAPBOX_TOKEN = "pk.eyJ1IjoiY2FyZHJvcCIsImEiOiJjbW5hcmszYXgwaWl5MzFzaDR2aW5ncWc1In0.A82w8eHoWIQ8Y9L1qmW8sw"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
